.FooterSection {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 119px;
  margin: 0 auto;
  background: #000000;
}

.FooterLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 125px;
  position: absolute;
  right: 100px;
  top: 50px;
}

.FooterLink,
.FooterCopyright {
  margin: 0;
  font-family: 'General Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.FooterCopyright {
  position: absolute;
  left: 100px;
  top: 50px;
}
