.HeroSection {
position: relative;
width: 100%;
max-width: 1440px;
height: 941px;
margin: 0 auto;
background: #FFFFFF;
overflow: hidden;
flex: none;
order: 1;
flex-grow: 0;
}

.HeroContent {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 72px;
position: absolute;
width: 1198.11px;
height: 735px;
left: 121px;
top: 84px;
}

.HeroTextBlock {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 44px;
width: 518.11px;
height: 464px;
flex: none;
order: 0;
flex-grow: 0;
}

.HeroTextGroup {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;
width: 518.11px;
height: 356px;
flex: none;
order: 0;
flex-grow: 0;
}

.HeroHeading {
width: 518.11px;
height: 296px;
font-family: 'General Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 96px;
line-height: 98px;
letter-spacing: -4px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;

}

.HeroDescription {
width: 508px;
height: 32px;
font-family: 'General Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 32px;
color: rgba(0, 0, 0, 0.6);
flex: none;
order: 1;
flex-grow: 0;

}

.HeroActions {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 497px;
height: 64px;
flex: none;
order: 1;
flex-grow: 0;
}

.EmailField {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 18px;
gap: 10px;
width: 339px;
height: 64px;
background: #FAFAFA;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 37px;
flex: none;
order: 0;
flex-grow: 0;

}

.EmailFieldText {
width: 136px;
height: 24px;
font-family: 'General Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-transform: capitalize;
color: #AAAAAA;
flex: none;
order: 0;
flex-grow: 0;

}

.PrimaryButton {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 24px;
gap: 10px;
width: 146px;
height: 64px;
background: #3461FF;
border-radius: 70px;
flex: none;
order: 1;
flex-grow: 0;

}

.PrimaryButtonText {
width: 74px;
height: 20px;
font-family: 'General Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
text-transform: capitalize;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.HeroImage {
width: 608px;
height: 735px;
flex: none;
order: 1;
flex-grow: 0;
}

.HeroImage img {
 width: 608px;
height: 735px;
flex: none;
order: 1;
flex-grow: 0;
}
